streamlit>=1.30.0
tensorflow==2.18.0
ultralytics==8.1.15
opencv-python-headless>=4.5.5
pillow>=9.5.0
numpy>=1.26.0
setuptools

# 👇 Esto evita que pip instale accidentalmente opencv-python completo
opencv-python==4.11.0.86; sys_platform == "never"
